@-webkit-keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes comeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes comeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: #264653;
  color: #e9c46a;
}

h1 {
  margin: 80px 10px;
  text-align: center;
  font-size: 40px;
  color: #f4a261;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 10px 30px;
}
.calculator__title {
  margin-bottom: 20px;
  font-size: 26px;
}
.calculator__text {
  margin-bottom: 20px;
  font-size: 18px;
}
.calculator__text span {
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #e76f51;
}
.calculator__input {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  background-color: #264653;
  color: #e9c46a;
  font-size: 15px;
  border: 3px solid #f4a261;
  transition: border 0.3s;
}
.calculator__input:focus {
  outline: none;
  border: 3px solid #e76f51;
}
.calculator__btn {
  width: 90%;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  color: #264653;
  background-color: #e9c46a;
  border: 3px solid transparent;
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.calculator__btn--clear {
  width: 50%;
  padding: 5px 10px;
  font-size: 18px;
}
.calculator__btn:active {
  background-color: #f4a261;
}

.author {
  margin: 50px 0 30px;
  color: rgba(233, 196, 106, 0.2);
}
.author__name {
  font-size: 20px;
}
.author__name--lastname {
  position: relative;
  font-size: 25px;
}
.author__name--lastname::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(42, 157, 143, 0.2);
}

@media (min-width: 768px) {
  .animations {
    -webkit-animation: comeUp 2s 1.5s linear both;
            animation: comeUp 2s 1.5s linear both;
  }
  h1 {
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 45px;
    -webkit-animation: slideUp 1s linear;
            animation: slideUp 1s linear;
  }
  .calculator__title {
    font-size: 30px;
  }
  .calculator__text {
    font-size: 21px;
  }
  .calculator__text span {
    font-size: 30px;
  }
  .calculator__input {
    height: 150px;
    min-height: 50px;
    width: 70%;
    max-width: 70%;
    min-width: 70%;
  }
  .calculator__btn {
    width: 60%;
  }
  .calculator__btn--clear {
    width: 40%;
  }
  .calculator__btn:hover {
    background-color: #f4a261;
  }
  .author {
    position: absolute;
    bottom: 20px;
    right: 10px;
    transform: rotate(-10deg);
  }
}/*# sourceMappingURL=main.css.map */