@keyframes slideIn {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
        font-size: 5px;
    }

    30% {
        transform: translateX(50px);
        opacity: 0.3;
        font-size: 10px;
    }

    40% {
        transform: translateX(0px);
        opacity: 0.5;
        font-size: 15px;
    }

    50% {
        transform: translateX(-40px);
        opacity: 0.6;
        font-size: 20px;
    }
    60% {
        transform: translateX(30px);
        opacity: 0.7;
        font-size: 25px;
    }
    70% {
        transform: translateX(-20px);
        opacity: 0.8;
        font-size: 30px;
    }
    80% {
        transform: translateX(-10px);
        opacity: 0.9;
        font-size: 35px;
    }
    90% {
        transform: translateX(5px);
        opacity: 1;
        font-size: 40px;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        font-size: 45px;
    }
}

@keyframes comeUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
